/* ヘッダーの固定 */
div#header-fixed
{ 
    position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

div#header #other
{ 

    background-color: white;
    position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 80%;                /* 横幅100%　*/
    height: 100px;
    margin-right: auto;
    margin-left: 20%;
    font-size: 100%;
    font-weight:bold;
}

div#header a
{ 
  color: black;
}

div#header #other a
{ 
  color: black;
}

div#header #home
{
    background-color: white;
    position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 20%;                /* 横幅100%　*/
    height: 100px;
    font-size: 300%;
}

div#header-bk {    /* 背景色 */

	/*padding:10px 0 10px;       /* 上10px、下20pxをあける */
	height:100px;              /* 縦の高さ110px */
    width:100%;                /* 横の幅を100% */
    margin-left: auto;
    margin-right: auto;
}
 
div#header{
    display:flex;
    font-size:x-large;
}
 
#header div{
    display:flex; 
    /*  ▼装飾など  */
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

div#header li {
    list-style: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

div#header li a{
    text-decoration: none;
}

div#header #home{

    margin-right: auto;
    
}

#header div:last-child{
    background-color: white;
    margin-right: auto;
}

body{
  font-family: 'Mukta', sans-serif;
}


  #studios > div {
    margin: 1em 0;
    padding: 0.5em;
    background: #f8f8f8;
    min-height: 3em;
    margin-left: 1.5%;
    margin-right: auto;
    width: 30%;
    height: 500px;
    display: inline-block; 
  }

  #studios > div:first-child{
    margin-top: 150px;
}

  .studio-title {
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: auto;
  }
  .studio-title-en {
    margin-left: 1em;
    font-weight: 100;
    opacity: 0.75;
    margin-left: 20px;
  }

  .studio-image{
    height:200px;
    margin: 20px;
 
    margin: 0.5em;
    float: right;

  }

  .studio-description-ja{

    font-size: small;
    margin-top: auto;
    margin: 1em;
    float: right;
  }

  .wrapper{
    min-height: 50vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
  }
  
  footer{
    width: 100%;
  
    color: black;
    opacity: 0.5;
    text-align: center;
    padding: 30px 0;
    font-size: small;
  
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
  }
  
  .name{
    font-size: small;
  }