*{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

body{
    margin: 0;
    overscroll-behavior: none;
}

main{
    background-color: white;
}

/*timercount*/
div#console_log{
    font-size: 15px;
    font-weight: bold;
    position: fixed;
    left: 25px;
    bottom: 25px;
    z-index: 100;
    background-color: whitesmoke;
    width: 130px;
    height: 50px;
    
    line-height: 50px;
    text-align: center;
}

/*content*/
.content{
    width: 100%;
}

.content .padding{
    display: flex;
 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

/*animation*/
#anim_img_box {
    position: sticky;
    width: 100%;
    height: 80vh;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
}

#anim_img{
    width: 100%;
}
#anim_img_box2{
  position: sticky;
  width: 100%;
  height: 80vh;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#anim_img2{
  width: 100%;
}

#anim_img_box3{
  position: sticky;
  width: 100%;
  height: 80vh;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#anim_img3{
  width: 100%;
}

#oyu_img_box{
  position: sticky;
  width: 100%;
  height: 80vh;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.animbox{
  display: table-cell;
  vertical-align: middle;
  background-color: white;
}

.animboxContainer{
  width: 100%;
  display: table;
  table-layout: fixed;
}

.oyubox{
  height: 50vh;
  display: table-cell;
  vertical-align: middle;
  background-color: white;
  
}

.oyuboxContainer{
  width: 100%;
  display: table;
  table-layout: fixed;
}

/*final*/
#final{
    width: 100%;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#hide1 #hide2{
    background-color: lawngreen;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*待ち直すボタン*/
/*
.scroll-top {
    font-size: 15px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 100;
    background-color: lightcoral;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #fff;
    line-height: 70px;
    text-align: center;
}
*/
#js-scroll-top {
  font-size     : 10pt;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 100;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  line-height: 70px;
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  background-color: whitesmoke;
  color         : black;
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 1;           /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 3px 3px 3px #666666;  /* 影の設定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 0.8;         /* カーソル時透明度 */
}


/*header*/
div#header-fixed
{ 
  /*position: fixed;            /* ヘッダーの固定 */
  top: 0px;                   /* 位置(上0px) */
  left: 0px;                  /* 位置(右0px) */
  width: 100%;                /* 横幅100%　*/
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

div#header #other
{ 
  background-color: lawngreen;
  /*position: fixed;             ヘッダーの固定 */
  top: 0px;                   /* 位置(上0px) */
  left: 0px;                  /* 位置(右0px) */
  width: 80%;                /* 横幅100%　*/
  height: 100px;
  margin-right: auto;
  margin-left: 20%;
  font-size: small;
}

div#header a
{ 
  color: black;
}

div#header #other a
{ 
  color: black;
}

div#header #home
{
  /*background-color: lawngreen;*/
  /*position: fixed;             ヘッダーの固定 */
  top: 0px;
  left: 0px;
  width: 70%;
  height: 100px;
  font-size: xx-large;
}

div#header-bk {
  width:100%;
  height:100px;
  margin-left: auto;
  margin-right: auto;
}
 
div#header{
    display:flex;
    font-size:x-large;
}
 
#header div{
  display:flex; 
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

div#header li {
    list-style: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

div#header li a{
    text-decoration: none;
}

div#header #home{
    margin-right: auto;
}

#header div:last-child{
    background-color: white;
    margin-right: auto;
}

.box{
  display: table-cell;
  vertical-align: middle;
  background-color: lightcoral;
}

.boxContainer{
  margin-top: 100px;
  width: 100%;
  display: table;
  table-layout: fixed;
}

/*footer*/
.wrapper{
  min-height: 5vh;
  position: relative;/*←相対位置*/
  padding-bottom: 100px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
  background-color: white;
}
footer{
  width: 100%;
  color: black;
  opacity: 0.5;
  text-align: center;
  font-size: small;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}
.name{
  font-size: small;
}

/*about*/
.box{
    display: table-cell;
    vertical-align: middle;
    background-color: white;
  }
  
.boxContainer{
    margin-top: 100px;
    width: 100%;
    display: table;
    table-layout: fixed;
}

